{
    "plugins": [
      ["prismjs", {
          "languages": ["cpp", "python", "rust", "javascript", "css", "markup"],
          "plugins": ["line-numbers"],
          "theme": "twilight",
          "css": true
      }]
    ]
  }